*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  width: 100%;
  height: 100vh;
}
.body{
  background-image: url(https://c.wallhere.com/photos/cd/f0/pattern-191257.jpg!d);
}
header{
  width: 100%;
  height: 55px;
  background-color: black;
}
.margine{
  font-family: 'Indie Flower', cursive;
  height: 100%;
  width: 80%;
  margin: auto;
}
.titolo{
  float: left;
  line-height: 50px;
  width: 200px;

}
.titolo h1{
  color: white;
}
.menu{
  cursor: pointer;
  line-height: 49px;
  float: right;
}
.menu ul{
  width: 100%;
  text-align: center;
  list-style: none;
}
.menu ul li{
  padding: 5px;
}

.menu ul li a{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.menu .visual{
  display: none;
}

.menu:hover .visual{
  background-color: rgba(175, 22, 38, 0.5);
  display: block;
}

.menu:hover .no-visual{
  display: none;
}
.visual li:hover{
  background-color: rgba(175, 22, 38, 0.8)
}
.visual .sotto-menu:hover .no-visual{
  line-height: 20px;
  font-size: 0.6em;
  position: absolute;
  top: 0;
  right: 100%;
  display: block;
  background-color: rgba(175, 22, 38, 0.5);
}
.sotto-menu{
  position: relative;
}

.FF{
  background-image: url(http://orig03.deviantart.net/8f3a/f/2010/129/6/3/final_fantasy_update_by_paulthegreat103.png);
  background-position: center;
  background-size: cover;
}
#FFW{
  cursor: pointer;
}
