*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://c.wallhere.com/photos/cd/f0/pattern-191257.jpg!d);
}
header{
  width: 100%;
  height: 55px;
  background-color: black;
}
.margine{
  font-family: 'Indie Flower', cursive;
  height: 100%;
  width: 80%;
  margin: auto;
}
.titolo{
  float: left;
  line-height: 50px;
  width: 200px;

}
.titolo h1{
  color: white;
}
.menu{
  cursor: pointer;
  line-height: 50px;
  float: right;
}
.menu ul{
  width: 100%;
  text-align: center;
  list-style: none;
}
.menu ul li{
  padding: 5px;
}

.menu ul li a{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}
.menu .visual{
  display: none;
}

.menu:hover .visual{
  background-color: rgba(175, 22, 38, 0.5);
  display: block;
}
.visual li:hover{
  background-color: rgba(175, 22, 38, 0.8)
}
